@font-face {
    font-family: 'Roboto';
    src: url(../fonts/Roboto/Roboto-VariableFont_wdth\,wght.ttf);
}

body{
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1f2937;
    font-family: 'Roboto';
}

li {
    float: right;
    margin: 10px;
    padding: 10px;
}

li a {
    display: block;
    color: #e5e7eb;
    size: 18px;
    text-align: right;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #3882f6;
}

header {
    margin: 0;
    padding: 0;
    background-color: #1f2937;
}

.heroTitle {
    font-family: 'Roboto';
    size: 48px;
    font-weight: 1000;
    color: #f9faf8;
    text-align: center;
}

.heroSecondary {
    font-family: 'Roboto';
    size: 18px;
    color: #e5e7eb;
    text-align: center;
}